**Kelompok 1**
1. Hafiz Indra Arwinata       (10319019)
2. Muhammad Harits al Akbar   (10319023)
3. Ainun Hanafi Adnan         (10319028)
4. Ardhya Garini              (10319036)
5. Gishelawati                (10319046)

---

In [ ]:
# Memasang Modul yang diperlukan

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.datasets as datas

In [ ]:
# Menghubungkan notebook dengan google drive

from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Mengimport data

data = pd.read_csv('/content/drive/MyDrive/Salinan SHARP_SDO_Data_20112015.csv')

In [ ]:
data

,Unnamed: 0,T_REC,HARPNUM,NOAA_AR,LON_FWT,LAT_FWT,TOTUSJH,TOTPOT,TOTUSJZ,ABSNJZH,...,SHRGT45,MEANSHR,MEANGAM,MEANGBT,MEANGBZ,MEANGBH,MEANJZH,MEANJZD,MEANALP,CLASS
0,118717,2011.01.01_00:00:00_TAI,327,11142,-48.601822,-13.681620,321.478,2.953755e+22,6.069130e+12,74.151,...,12.045,28.170,34.498,128.522,131.534,62.218,0.013699,0.488050,0.030520,NaN
1,118718,2011.01.01_00:00:00_TAI,318,11138,68.769531,13.097201,267.581,2.102565e+22,4.925956e+12,36.046,...,8.691,21.818,30.244,84.623,90.598,37.747,0.004973,-0.139043,0.014878,NaN
2,118719,2011.01.01_00:12:00_TAI,318,11138,68.823380,13.069714,274.199,2.191403e+22,5.000862e+12,41.778,...,9.046,21.743,29.993,85.969,91.656,37.531,0.005701,-0.167872,0.016932,NaN
3,118720,2011.01.01_00:24:00_TAI,318,11138,68.983017,13.096349,277.150,2.068753e+22,5.022130e+12,38.414,...,7.693,20.870,29.024,84.308,92.021,36.322,0.005249,-0.116401,0.015682,NaN
4,118721,2011.01.01_00:36:00_TAI,318,11138,69.126137,13.097945,274.629,2.086361e+22,5.024501e+12,33.994,...,9.392,21.640,30.192,82.356,89.227,36.373,0.004581,-0.028914,0.013843,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111898,2230615,2015.12.31_23:00:00_TAI,6222,0,-34.263729,10.975958,24.857,1.377684e+21,6.131353e+11,3.132,...,1.890,22.968,26.743,115.409,116.977,37.212,0.004553,0.793255,0.021441,NaN
2111899,2230616,2015.12.31_23:12:00_TAI,6222,0,-34.177570,10.959209,26.287,1.388913e+21,6.257009e+11,3.931,...,2.031,22.909,26.488,121.046,122.005,39.926,0.006142,0.909954,0.027099,NaN
2111900,2230617,2015.12.31_23:24:00_TAI,6222,0,-34.088112,10.957873,26.721,1.368294e+21,6.257460e+11,4.379,...,1.932,22.386,26.570,121.988,122.911,40.276,0.006506,1.009994,0.029165,NaN
2111901,2230618,2015.12.31_23:36:00_TAI,6222,0,-33.967087,10.926006,27.632,1.516091e+21,6.466757e+11,3.076,...,2.104,23.332,27.675,121.413,120.860,42.528,0.004314,0.701521,0.019904,NaN
2111902,2230619,2015.12.31_23:48:00_TAI,6222,0,-33.859238,10.929337,25.744,1.534584e+21,6.226737e+11,3.003,...,3.352,23.472,28.071,118.518,118.138,41.647,0.004194,0.638736,0.019623,NaN

In [ ]:
# Hapus kolom Unnamed : 0
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]
# kolom ini dihapus karena dianggap tidak penting dan tidak diperlukan

**Memahami Dataset SHARP**

T_REC adalah waktu dalam UT

HARPNUM adalah HMI Active Region Patch Number

NOAA_AR adalah NOAA Active Region

TOTUSJH	adalah total unsigned current helicity dalam G^2/m

TOTPOT	adalah total photospheric magnetic energy density in ergs per cubic centimeter

TOTUSJZ	adalah total unsigned vertical current, dalam Amperes

ABSNJZH	adalah absolute value of the net current helicity in G^2/m

SAVNCPP adalah sum of the Absolute Value of the Net Currents Per Polarity in Amperes

USFLUX adalah total unsigned flux in Maxwells

MEANPOT adalah mean photospheric excess magnetic energy density in ergs per cubic centimeter

SHRGT45	adalah percentage of pixels with a mean shear angle greater than 45 degrees in percent

MEANSHR	adalah mean shear angle (measured using B_total) in degrees

MEANGAM	adalah Mean inclination angle, gamma, in degrees

MEANGBT	adalah Mean value of the total field gradient, in Gauss/Mm

MEANGBZ	adalah Mean value of the vertical field gradient, in Gauss/Mm

MEANGBH	adalah Mean value of the horizontal field gradient, in Gauss/Mm

MEANJZH	adalah Mean current helicity in G^2/m

MEANJZD	adalah Mean vertical current density, in mA/m^2

MEANALP	adalah Total twist parameter, alpha, in 1/Mm

CLASS adalah kelas dan subkelas flare

**Analisis Dataset Mentah**

In [ ]:
# Melihat jumlah data

len(data)

2111903

In [ ]:
# Mengecek data yang kosong

data.isna()

,T_REC,HARPNUM,NOAA_AR,LON_FWT,LAT_FWT,TOTUSJH,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,...,SHRGT45,MEANSHR,MEANGAM,MEANGBT,MEANGBZ,MEANGBH,MEANJZH,MEANJZD,MEANALP,CLASS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111898,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2111899,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2111900,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2111901,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2111902,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [ ]:
# Mengecek data yang kosong dengan menggunakan command lain

data.isnull()

,T_REC,HARPNUM,NOAA_AR,LON_FWT,LAT_FWT,TOTUSJH,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,...,SHRGT45,MEANSHR,MEANGAM,MEANGBT,MEANGBZ,MEANGBH,MEANJZH,MEANJZD,MEANALP,CLASS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111898,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2111899,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2111900,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2111901,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2111902,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [ ]:
# Melihat jumlah data kosong untuk setiap kolom

data.isnull().sum()

T_REC             0
HARPNUM           0
NOAA_AR           0
LON_FWT           0
LAT_FWT           0
TOTUSJH           0
TOTPOT            0
TOTUSJZ           0
ABSNJZH           0
SAVNCPP           0
USFLUX            0
AREA_ACR          0
MEANPOT        7419
R_VALUE        3964
SHRGT45        7419
MEANSHR        9615
MEANGAM        7939
MEANGBT        7427
MEANGBZ        7419
MEANGBH        7419
MEANJZH        7423
MEANJZD        7419
MEANALP        7427
CLASS       2103612
dtype: int64

In [ ]:
# Melihat jumlah data kosong terkecil

data.isnull().sum().min()

0

In [ ]:
# Melihat jumlah data kosong terbesar

data.isnull().sum().max()

2103612

In [ ]:
# Melihat jumlah data kosong minimum dan maksimum dalam persen

print(f'minimum missing value(s) : {100*data.isnull().sum().min()/len(data)}%')
print(f'maximum missing value(s) : {100*data.isnull().sum().max()/len(data)}%')

minimum missing value(s) : 0.0%
maximum missing value(s) : 99.60741568149673%

In [ ]:
# Melihat jumlah seluruh data yang kosong

data.isnull().sum().sum()

2184502

In [ ]:
# Menampilkan jumlah seluruh data yang kosong

print(f'Dataset/data frame has {data.isnull().sum().sum()} missing value(s)')

Dataset/data frame has 2184502 missing value(s)

In [ ]:
# Melihat kolom yang memiliki data kosong

data.isnull().any()
#False berarti tidak ada data kosong, sedangkan true berarti ada data kosong atau NaN

T_REC       False
HARPNUM     False
NOAA_AR     False
LON_FWT     False
LAT_FWT     False
TOTUSJH     False
TOTPOT      False
TOTUSJZ     False
ABSNJZH     False
SAVNCPP     False
USFLUX      False
AREA_ACR    False
MEANPOT      True
R_VALUE      True
SHRGT45      True
MEANSHR      True
MEANGAM      True
MEANGBT      True
MEANGBZ      True
MEANGBH      True
MEANJZH      True
MEANJZD      True
MEANALP      True
CLASS        True
dtype: bool

In [ ]:
# Menampilkan kolom yang memiliki setidaknya satu nilai null (NaN atau None)

data.loc[:,data.isnull().any()]

,MEANPOT,R_VALUE,SHRGT45,MEANSHR,MEANGAM,MEANGBT,MEANGBZ,MEANGBH,MEANJZH,MEANJZD,MEANALP,CLASS
0,4108.884,3.781,12.045,28.170,34.498,128.522,131.534,62.218,0.013699,0.488050,0.030520,NaN
1,2184.031,3.130,8.691,21.818,30.244,84.623,90.598,37.747,0.004973,-0.139043,0.014878,NaN
2,2251.464,3.127,9.046,21.743,29.993,85.969,91.656,37.531,0.005701,-0.167872,0.016932,NaN
3,2128.647,3.119,7.693,20.870,29.024,84.308,92.021,36.322,0.005249,-0.116401,0.015682,NaN
4,2116.969,3.123,9.392,21.640,30.192,82.356,89.227,36.373,0.004581,-0.028914,0.013843,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2111898,1507.817,0.000,1.890,22.968,26.743,115.409,116.977,37.212,0.004553,0.793255,0.021441,NaN
2111899,1634.115,0.000,2.031,22.909,26.488,121.046,122.005,39.926,0.006142,0.909954,0.027099,NaN
2111900,1530.918,0.000,1.932,22.386,26.570,121.988,122.911,40.276,0.006506,1.009994,0.029165,NaN
2111901,1601.118,0.000,2.104,23.332,27.675,121.413,120.860,42.528,0.004314,0.701521,0.019904,NaN
2111902,1613.857,0.000,3.352,23.472,28.071,118.518,118.138,41.647,0.004194,0.638736,0.019623,NaN

In [ ]:
# Melihat statistik kolom yang memiliki data kosong

data.loc[:,data.isnull().any()].describe()

,MEANPOT,R_VALUE,SHRGT45,MEANSHR,MEANGAM,MEANGBT,MEANGBZ,MEANGBH,MEANJZH,MEANJZD,MEANALP
count,2.104484e+06,2.107939e+06,2.104484e+06,2.102288e+06,2.103964e+06,2.104476e+06,2.104484e+06,2.104484e+06,2.104480e+06,2.104484e+06,2.104476e+06
mean,3.484389e+03,1.622411e+00,1.146785e+01,2.617760e+01,3.342774e+01,1.133410e+02,1.154748e+02,4.995606e+01,NaN,-1.160141e+27,-6.361317e-04
std,3.313798e+03,1.814798e+00,1.405894e+01,7.843147e+00,8.737886e+00,2.648001e+01,2.535465e+01,1.441465e+01,NaN,5.819649e+30,2.751168e-02
min,2.875822e+00,0.000000e+00,0.000000e+00,1.231000e+00,8.057000e+00,4.186000e+00,4.081000e+00,1.447000e+00,-inf,-7.971529e+33,-5.391933e+00
25%,1.485528e+03,0.000000e+00,1.728000e+00,2.117100e+01,2.758400e+01,9.522700e+01,9.801400e+01,3.879900e+01,-3.560770e-03,-1.227625e-01,-1.166231e-02
50%,1.866543e+03,0.000000e+00,4.186000e+00,2.332600e+01,3.031900e+01,1.158350e+02,1.167570e+02,4.923200e+01,9.542500e-05,1.138720e-01,3.186100e-04
75%,4.406958e+03,3.484000e+00,1.811000e+01,3.007500e+01,3.800600e+01,1.322050e+02,1.326810e+02,5.923925e+01,3.466522e-03,4.980993e-01,1.174426e-02
max,1.585378e+05,5.595000e+00,1.000000e+02,1.615050e+02,8.813500e+01,6.638470e+02,7.507840e+02,5.826380e+02,inf,2.003021e+33,8.414945e+00

Dari data statistik, terlihat bahawa terdapat kolom/feature yang nemiliki nilai minimum dan maksimum yang inf. Sehingga perlu dilakukan pembatasan pada rentang nilai tertentu.

**Pre processing Data**

In [ ]:
# Mengganti nilai kosong pada kolom CLASS dengan "No Flare"

data['CLASS'] = data['CLASS'].fillna('No Flare')
data

# Kami mengganti nilai kosong tersebut dengan No Flare karena :
# 1. flare tidak terjadi setiap saat, sehingga sangat mungkin tidak terjadi flare pada saat sedang diamati
# 2. Karena flare tidak teramati, maka tidak teridentifikasi kelasnya
# 3. Kolom CLASS ini penting jika ingin menganalisis flare terhadap deret waktu atau untuk machine learning
# Oleh karena itu kami menggantinya dengan "No Flare"

<ipython-input-18-563ec9d7c853>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['CLASS'] = data['CLASS'].fillna('No Flare')

,T_REC,HARPNUM,NOAA_AR,LON_FWT,LAT_FWT,TOTUSJH,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,...,SHRGT45,MEANSHR,MEANGAM,MEANGBT,MEANGBZ,MEANGBH,MEANJZH,MEANJZD,MEANALP,CLASS
0,2011.01.01_00:00:00_TAI,327,11142,-48.601822,-13.681620,321.478,2.953755e+22,6.069130e+12,74.151,2.331200e+12,...,12.045,28.170,34.498,128.522,131.534,62.218,0.013699,0.488050,0.030520,No Flare
1,2011.01.01_00:00:00_TAI,318,11138,68.769531,13.097201,267.581,2.102565e+22,4.925956e+12,36.046,7.117161e+11,...,8.691,21.818,30.244,84.623,90.598,37.747,0.004973,-0.139043,0.014878,No Flare
2,2011.01.01_00:12:00_TAI,318,11138,68.823380,13.069714,274.199,2.191403e+22,5.000862e+12,41.778,1.357587e+12,...,9.046,21.743,29.993,85.969,91.656,37.531,0.005701,-0.167872,0.016932,No Flare
3,2011.01.01_00:24:00_TAI,318,11138,68.983017,13.096349,277.150,2.068753e+22,5.022130e+12,38.414,1.014593e+12,...,7.693,20.870,29.024,84.308,92.021,36.322,0.005249,-0.116401,0.015682,No Flare
4,2011.01.01_00:36:00_TAI,318,11138,69.126137,13.097945,274.629,2.086361e+22,5.024501e+12,33.994,9.162260e+11,...,9.392,21.640,30.192,82.356,89.227,36.373,0.004581,-0.028914,0.013843,No Flare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111898,2015.12.31_23:00:00_TAI,6222,0,-34.263729,10.975958,24.857,1.377684e+21,6.131353e+11,3.132,2.774994e+11,...,1.890,22.968,26.743,115.409,116.977,37.212,0.004553,0.793255,0.021441,No Flare
2111899,2015.12.31_23:12:00_TAI,6222,0,-34.177570,10.959209,26.287,1.388913e+21,6.257009e+11,3.931,2.961198e+11,...,2.031,22.909,26.488,121.046,122.005,39.926,0.006142,0.909954,0.027099,No Flare
2111900,2015.12.31_23:24:00_TAI,6222,0,-34.088112,10.957873,26.721,1.368294e+21,6.257460e+11,4.379,3.456283e+11,...,1.932,22.386,26.570,121.988,122.911,40.276,0.006506,1.009994,0.029165,No Flare
2111901,2015.12.31_23:36:00_TAI,6222,0,-33.967087,10.926006,27.632,1.516091e+21,6.466757e+11,3.076,2.543395e+11,...,2.104,23.332,27.675,121.413,120.860,42.528,0.004314,0.701521,0.019904,No Flare
2111902,2015.12.31_23:48:00_TAI,6222,0,-33.859238,10.929337,25.744,1.534584e+21,6.226737e+11,3.003,2.325551e+11,...,3.352,23.472,28.071,118.518,118.138,41.647,0.004194,0.638736,0.019623,No Flare

In [ ]:
# Mengganti nilai Mengganti nilai inf dengan NaN
pd.set_option('use_inf_as_na', True)
#Dari data statistik, terlihat bahawa terdapat kolom/feature yang nemiliki nilai minimum dan maksimum yang inf.
#Sehingga perlu dilakukan pembatasan pada rentang nilai tertentu.

In [ ]:
# Menghapus baris yang memiliki data kosong

data = data.dropna()
data

# Kami menghapus baris yang memiliki data kosong karena :
# 1. Jumlah baris kosong pada kolom MEANPOT(7419), R_VALUE(3964), SHRGT45(7419), MEANSHR(9615), MEANGAM(7939)
# MEANGBT(7427), MEANGBZ(7419), MEANGBH(7419), MEANJZH(7423), MEANJZD(7419), MEANALP(7427) sedikit dibandingkan jumlah data keseluruhan (2111903)
# 2. Jika menghapusnya, informasi penting masih bisa didapat dengan dataset yang ada

,T_REC,HARPNUM,NOAA_AR,LON_FWT,LAT_FWT,TOTUSJH,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,...,SHRGT45,MEANSHR,MEANGAM,MEANGBT,MEANGBZ,MEANGBH,MEANJZH,MEANJZD,MEANALP,CLASS
0,2011.01.01_00:00:00_TAI,327,11142,-48.601822,-13.681620,321.478,2.953755e+22,6.069130e+12,74.151,2.331200e+12,...,12.045,28.170,34.498,128.522,131.534,62.218,0.013699,0.488050,0.030520,No Flare
1,2011.01.01_00:00:00_TAI,318,11138,68.769531,13.097201,267.581,2.102565e+22,4.925956e+12,36.046,7.117161e+11,...,8.691,21.818,30.244,84.623,90.598,37.747,0.004973,-0.139043,0.014878,No Flare
2,2011.01.01_00:12:00_TAI,318,11138,68.823380,13.069714,274.199,2.191403e+22,5.000862e+12,41.778,1.357587e+12,...,9.046,21.743,29.993,85.969,91.656,37.531,0.005701,-0.167872,0.016932,No Flare
3,2011.01.01_00:24:00_TAI,318,11138,68.983017,13.096349,277.150,2.068753e+22,5.022130e+12,38.414,1.014593e+12,...,7.693,20.870,29.024,84.308,92.021,36.322,0.005249,-0.116401,0.015682,No Flare
4,2011.01.01_00:36:00_TAI,318,11138,69.126137,13.097945,274.629,2.086361e+22,5.024501e+12,33.994,9.162260e+11,...,9.392,21.640,30.192,82.356,89.227,36.373,0.004581,-0.028914,0.013843,No Flare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111898,2015.12.31_23:00:00_TAI,6222,0,-34.263729,10.975958,24.857,1.377684e+21,6.131353e+11,3.132,2.774994e+11,...,1.890,22.968,26.743,115.409,116.977,37.212,0.004553,0.793255,0.021441,No Flare
2111899,2015.12.31_23:12:00_TAI,6222,0,-34.177570,10.959209,26.287,1.388913e+21,6.257009e+11,3.931,2.961198e+11,...,2.031,22.909,26.488,121.046,122.005,39.926,0.006142,0.909954,0.027099,No Flare
2111900,2015.12.31_23:24:00_TAI,6222,0,-34.088112,10.957873,26.721,1.368294e+21,6.257460e+11,4.379,3.456283e+11,...,1.932,22.386,26.570,121.988,122.911,40.276,0.006506,1.009994,0.029165,No Flare
2111901,2015.12.31_23:36:00_TAI,6222,0,-33.967087,10.926006,27.632,1.516091e+21,6.466757e+11,3.076,2.543395e+11,...,2.104,23.332,27.675,121.413,120.860,42.528,0.004314,0.701521,0.019904,No Flare
2111902,2015.12.31_23:48:00_TAI,6222,0,-33.859238,10.929337,25.744,1.534584e+21,6.226737e+11,3.003,2.325551e+11,...,3.352,23.472,28.071,118.518,118.138,41.647,0.004194,0.638736,0.019623,No Flare

In [ ]:
# Mengecek keberhasilan menghapus data kosong

data.isnull().any()

T_REC       False
HARPNUM     False
NOAA_AR     False
LON_FWT     False
LAT_FWT     False
TOTUSJH     False
TOTPOT      False
TOTUSJZ     False
ABSNJZH     False
SAVNCPP     False
USFLUX      False
AREA_ACR    False
MEANPOT     False
R_VALUE     False
SHRGT45     False
MEANSHR     False
MEANGAM     False
MEANGBT     False
MEANGBZ     False
MEANGBH     False
MEANJZH     False
MEANJZD     False
MEANALP     False
CLASS       False
dtype: bool

In [ ]:
data

,T_REC,HARPNUM,NOAA_AR,LON_FWT,LAT_FWT,TOTUSJH,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,...,SHRGT45,MEANSHR,MEANGAM,MEANGBT,MEANGBZ,MEANGBH,MEANJZH,MEANJZD,MEANALP,CLASS
0,2011.01.01_00:00:00_TAI,327,11142,-48.601822,-13.681620,321.478,2.953755e+22,6.069130e+12,74.151,2.331200e+12,...,12.045,28.170,34.498,128.522,131.534,62.218,0.013699,0.488050,0.030520,No Flare
1,2011.01.01_00:00:00_TAI,318,11138,68.769531,13.097201,267.581,2.102565e+22,4.925956e+12,36.046,7.117161e+11,...,8.691,21.818,30.244,84.623,90.598,37.747,0.004973,-0.139043,0.014878,No Flare
2,2011.01.01_00:12:00_TAI,318,11138,68.823380,13.069714,274.199,2.191403e+22,5.000862e+12,41.778,1.357587e+12,...,9.046,21.743,29.993,85.969,91.656,37.531,0.005701,-0.167872,0.016932,No Flare
3,2011.01.01_00:24:00_TAI,318,11138,68.983017,13.096349,277.150,2.068753e+22,5.022130e+12,38.414,1.014593e+12,...,7.693,20.870,29.024,84.308,92.021,36.322,0.005249,-0.116401,0.015682,No Flare
4,2011.01.01_00:36:00_TAI,318,11138,69.126137,13.097945,274.629,2.086361e+22,5.024501e+12,33.994,9.162260e+11,...,9.392,21.640,30.192,82.356,89.227,36.373,0.004581,-0.028914,0.013843,No Flare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111898,2015.12.31_23:00:00_TAI,6222,0,-34.263729,10.975958,24.857,1.377684e+21,6.131353e+11,3.132,2.774994e+11,...,1.890,22.968,26.743,115.409,116.977,37.212,0.004553,0.793255,0.021441,No Flare
2111899,2015.12.31_23:12:00_TAI,6222,0,-34.177570,10.959209,26.287,1.388913e+21,6.257009e+11,3.931,2.961198e+11,...,2.031,22.909,26.488,121.046,122.005,39.926,0.006142,0.909954,0.027099,No Flare
2111900,2015.12.31_23:24:00_TAI,6222,0,-34.088112,10.957873,26.721,1.368294e+21,6.257460e+11,4.379,3.456283e+11,...,1.932,22.386,26.570,121.988,122.911,40.276,0.006506,1.009994,0.029165,No Flare
2111901,2015.12.31_23:36:00_TAI,6222,0,-33.967087,10.926006,27.632,1.516091e+21,6.466757e+11,3.076,2.543395e+11,...,2.104,23.332,27.675,121.413,120.860,42.528,0.004314,0.701521,0.019904,No Flare
2111902,2015.12.31_23:48:00_TAI,6222,0,-33.859238,10.929337,25.744,1.534584e+21,6.226737e+11,3.003,2.325551e+11,...,3.352,23.472,28.071,118.518,118.138,41.647,0.004194,0.638736,0.019623,No Flare

In [ ]:
# Membuat T_REC menjadi format waktu

data['T_REC'] = data['T_REC'].str[:19]
data['T_REC'] = data['T_REC'].str.replace("_", "T")
data['T_REC'] = pd.to_datetime(data['T_REC'])

#Hal ini dilakukan untuk mempermudah dalam analisis deret waktu

<ipython-input-23-ca6c2da9bb8f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['T_REC'] = data['T_REC'].str[:19]
<ipython-input-23-ca6c2da9bb8f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['T_REC'] = data['T_REC'].str.replace("_", "T")
<ipython-input-23-ca6c2da9bb8f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['T_REC'] = pd.to_datetime(data['T_REC'])

In [ ]:
data

,T_REC,HARPNUM,NOAA_AR,LON_FWT,LAT_FWT,TOTUSJH,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,...,SHRGT45,MEANSHR,MEANGAM,MEANGBT,MEANGBZ,MEANGBH,MEANJZH,MEANJZD,MEANALP,CLASS
0,2011-01-01 00:00:00,327,11142,-48.601822,-13.681620,321.478,2.953755e+22,6.069130e+12,74.151,2.331200e+12,...,12.045,28.170,34.498,128.522,131.534,62.218,0.013699,0.488050,0.030520,No Flare
1,2011-01-01 00:00:00,318,11138,68.769531,13.097201,267.581,2.102565e+22,4.925956e+12,36.046,7.117161e+11,...,8.691,21.818,30.244,84.623,90.598,37.747,0.004973,-0.139043,0.014878,No Flare
2,2011-01-01 00:12:00,318,11138,68.823380,13.069714,274.199,2.191403e+22,5.000862e+12,41.778,1.357587e+12,...,9.046,21.743,29.993,85.969,91.656,37.531,0.005701,-0.167872,0.016932,No Flare
3,2011-01-01 00:24:00,318,11138,68.983017,13.096349,277.150,2.068753e+22,5.022130e+12,38.414,1.014593e+12,...,7.693,20.870,29.024,84.308,92.021,36.322,0.005249,-0.116401,0.015682,No Flare
4,2011-01-01 00:36:00,318,11138,69.126137,13.097945,274.629,2.086361e+22,5.024501e+12,33.994,9.162260e+11,...,9.392,21.640,30.192,82.356,89.227,36.373,0.004581,-0.028914,0.013843,No Flare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111898,2015-12-31 23:00:00,6222,0,-34.263729,10.975958,24.857,1.377684e+21,6.131353e+11,3.132,2.774994e+11,...,1.890,22.968,26.743,115.409,116.977,37.212,0.004553,0.793255,0.021441,No Flare
2111899,2015-12-31 23:12:00,6222,0,-34.177570,10.959209,26.287,1.388913e+21,6.257009e+11,3.931,2.961198e+11,...,2.031,22.909,26.488,121.046,122.005,39.926,0.006142,0.909954,0.027099,No Flare
2111900,2015-12-31 23:24:00,6222,0,-34.088112,10.957873,26.721,1.368294e+21,6.257460e+11,4.379,3.456283e+11,...,1.932,22.386,26.570,121.988,122.911,40.276,0.006506,1.009994,0.029165,No Flare
2111901,2015-12-31 23:36:00,6222,0,-33.967087,10.926006,27.632,1.516091e+21,6.466757e+11,3.076,2.543395e+11,...,2.104,23.332,27.675,121.413,120.860,42.528,0.004314,0.701521,0.019904,No Flare
2111902,2015-12-31 23:48:00,6222,0,-33.859238,10.929337,25.744,1.534584e+21,6.226737e+11,3.003,2.325551e+11,...,3.352,23.472,28.071,118.518,118.138,41.647,0.004194,0.638736,0.019623,No Flare

**Analisis data bersih**

In [ ]:
# Jumlah data bersih

len(data)

2097783

In [ ]:
# Statistik data
num = np.int_(np.linspace(5,22, 18))
data.iloc[:,num].describe()

,TOTUSJH,TOTPOT,TOTUSJZ,ABSNJZH,SAVNCPP,USFLUX,AREA_ACR,MEANPOT,R_VALUE,SHRGT45,MEANSHR,MEANGAM,MEANGBT,MEANGBZ,MEANGBH,MEANJZH,MEANJZD,MEANALP
count,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06,2.097783e+06
mean,1.845893e+21,9.607045e+22,4.400754e+31,1.845865e+21,1.697361e+32,7.305389e+21,3.151816e+02,3.486896e+03,1.614095e+00,1.145367e+01,2.617333e+01,3.342370e+01,1.134039e+02,1.155370e+02,4.998205e+01,-9.811097e+17,-9.353210e+17,-6.451325e-04
std,1.913983e+24,2.519365e+23,4.481561e+34,1.913983e+24,1.726166e+35,1.273291e+22,5.269459e+02,3.314674e+03,1.811407e+00,1.405029e+01,7.833606e+00,8.737862e+00,2.645223e+01,2.531481e+01,1.441097e+01,6.441046e+21,1.203272e+24,2.720019e-02
min,0.000000e+00,3.819219e+15,5.800112e+05,0.000000e+00,5.206930e+03,1.709193e+16,4.359200e-02,2.875822e+00,0.000000e+00,0.000000e+00,1.231000e+00,8.057000e+00,4.663000e+00,4.379000e+00,1.447000e+00,-7.276817e+24,-1.274895e+27,-5.391933e+00
25%,3.035800e+01,1.632379e+21,6.819290e+11,2.295000e+00,2.028992e+11,4.705641e+20,3.068536e+01,1.486755e+03,0.000000e+00,1.726000e+00,2.117000e+01,2.758200e+01,9.531300e+01,9.809400e+01,3.882300e+01,-3.566730e-03,-1.226340e-01,-1.166978e-02
50%,1.244870e+02,8.311376e+21,2.605585e+12,8.619000e+00,6.846007e+11,2.041720e+21,1.008902e+02,1.867758e+03,0.000000e+00,4.175000e+00,2.332300e+01,3.031200e+01,1.158980e+02,1.168140e+02,4.925900e+01,9.458000e-05,1.142662e-01,3.154500e-04
75%,5.080290e+02,7.498729e+22,1.044492e+13,3.856450e+01,2.283530e+12,8.580237e+21,3.610034e+02,4.410544e+03,3.474000e+00,1.807900e+01,3.007000e+01,3.799800e+01,1.322430e+02,1.327210e+02,5.926400e+01,3.469225e-03,4.988025e-01,1.174213e-02
max,2.539609e+27,5.369340e+24,5.652618e+37,2.539609e+27,2.176085e+38,2.077737e+23,7.220936e+03,1.585378e+05,5.595000e+00,1.000000e+02,1.615050e+02,8.813500e+01,6.638470e+02,7.507840e+02,5.826380e+02,5.802735e+24,1.185612e+27,8.414945e+00

Timeline  dan Log Kerja TIM
1. Tanggal 24 Februari 2023 kelompok kami berdiskusi tentang apa yang akan dilakukan terhadap data dan menganalisis dataset mentah.

2. Tanggal 2 Maret 2023 diadakan diskusi kembali melalu paltform zoom dan diputuskan untuk :

  a. Menghapus baris yang memiliki data kosong dari kolom MEANPOT(7419), R_VALUE(3964), SHRGT45(7419), MEANSHR(9615), MEANGAM(7939), MEANGBT(7427), MEANGBZ(7419), MEANGBH(7419), MEANJZH(7423), MEANJZD(7419), MEANALP(7427).

  b. Mengganti nilai kosong/ NaN pada kolom CLASS dengan "No Flare".

  c. Data yang infinit akan diubah menjadi NaN, kemudian di hapus.

  d. Mengubah T_REC menjadi format waktu

Kami juga melakukan analisis terhadap data set bersih


3. Keputusan akhir untuk tugas ini :

 a. Menghapus baris yang memiliki data kosong dari kolom MEANPOT(7419), R_VALUE(3964), SHRGT45(7419), MEANSHR(9615), MEANGAM(7939), MEANGBT(7427), MEANGBZ(7419), MEANGBH(7419), MEANJZH(7423), MEANJZD(7419), MEANALP(7427)

  b. Mengganti nilai kosong/ NaN pada kolom CLASS dengan "No Flare"

  c. Data yang infinit akan diubah menjadi NaN, kemudian di hapus

  d. Mengubah T_REC menjadi format waktu

Dokumentasi Meet (2 Maret 2023)![messageImage_1677770590868.jpg]()